.homePage {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 0;
  width: 100%;
  text-align: center;

  img {
    width: 700px;
  }
  a {
    font-size: 20px;
    text-decoration: none;
  }
  textarea {
    margin-top: 30px;
    width: 500px;
    height: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    padding: 8px;
    &:focus {
      outline-offset: 0;
      outline: none;
    }
  }
  button {
    margin-top: 30px;
    background: #4e7cc4;
    border: 0.5px solid #4e7cc4;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    &:last-child {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}
